<link rel="stylesheet" href="/css/_sign_in_up_common.css" />
<link rel="stylesheet" href="/css/login-updated.css" />

<main id="main-body">
  <div class="major">
    <h1>CURVZ</h1>
    <div id="login-container" class="center">
      <h1>Login To Your Account</h1>
      <div class="links">
        <p>Login Using Social Networks</p>
        <div class="icons">
          <a href="www.facebook.com"
            ><img
              id="fb"
              src="/images/facebook-svgrepo-com.svg"
              alt="facebook"
              width="5%"
              height="5%"
          /></a>
          <a href="www.google.com"
            ><img src="/images/GOOG.svg" id="google-icon" alt="google" width="4%" height="4%"
          /></a>
          <a href="www.linkedin.com"
            ><img
              src="/images/linkedin-svgrepo-com.svg"
              alt="linkedin"
              width="4%"
              height="4%"
          /></a>
        </div>
      </div>
      <div class="divisor">
        <p id="or">OR</p>
      </div>
      <div class="details">
        <form action="/users/create-session" method="post">
          <input
            type="email"
            name="email"
            id="Email"
            placeholder="Email"
            required
          />
          <input
            type="password"
            name="password"
            id="Password"
            placeholder="Password"
            required
          />
          <button id="btn1" type="submit">Sign In</button>
        </form>
      </div>
    </div>
  </div>
  <div class="minor">
    <h1>New Here ?</h1>
    <p>Sign Up and discover new variety of styles and designs!</p>
    <a href="/users/sign-up"
      ><button id="btn2" type="button">Sign Up</button></a
    >
  </div>
</main>
