<link rel="stylesheet" href="\css\_sign_in_up_common.css">
<link rel="stylesheet" href="\css\_sign_up.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"><img id="logo" src="/images/cc.png">
                <div class=" center">
            <h1>Create New Account</h1>
            <div>
                <form action="/users/create" method="post">
                    <input class="input" type="text" name="fullName" id="Full_name" placeholder="Full Name"/>
                    <input class="input" type="email" name="email" id="Email" placeholder="Email"/>
                    <input class="input" type="password" name="password" id="Password" placeholder="Password"/>
                    <input class="input" type="text" name="dateofBirth" id="dob" placeholder="Date of Birth"/>
                    <label id="tnc" for="tc">
                        <input class="check" type="checkbox" name="tc" id="tc" required>
                        Yes, I understand and agree to Curvz <a class="tc-links" href="">Terms Of Service</a>, including
                        the <a class="tc-links" href="">User Agreement</a> and <a class="tc-links" href="">Privacy
                            Policy</a>.
                    </label>
                    <!-- <input id="main-btn" type="submit" name="submit" value="Join Us"> -->
                    <button type="submit"> Join Us </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 part-2">
        <div class="part-2-1">
            WELCOME
        </div>
        <div class="part-2-2">
            We are happy to see you here !
        </div>
        <div id="part-2-3">
            Already have an account ?
        </div>
        <div class="part-2-4">
            <a id="side-btn" href="/users/sign-in">Login</a>
        </div>
    </div>
</div>
