<link rel="stylesheet" href="/css/_footer.css">

<!-- footer partial for layout -->
<footer>
    <div class="footer-part-1">
        <div class="footer-images-1"><img src="/images/sweters.jpg" alt="Image not available" class="footer-images-2"></div>
        <div class="footer-images-1"><img src="/images/sweters.jpg" alt="Image not available" class="footer-images-2"></div>
        <div class="footer-images-1"><img src="/images/sweters.jpg" alt="Image not available" class="footer-images-2"></div>
        <div class="footer-images-1"><img src="/images/sweters.jpg" alt="Image not available" class="footer-images-2"></div>
        <div class="footer-images-1"><img src="/images/sweters.jpg" alt="Image not available" class="footer-images-2"></div>
    </div>

    <div class="social">
        <div id="social-media-icons">
            <img src="/images/twitter-sign.png" alt="Image unavailable" class="social-media-images">
            <img src="/images/youtube.png" alt="Image unavailable" class="social-media-images">
            <img src="/images/linkedin.png" alt="Image unavailable" class="social-media-images">
            <img src="/images/instagram.png" alt="Image unavailable" class="social-media-images">
        </div>
    </div>

    <div class="footer-part-2">
        <nav>
            <a class="navbar-link" href="#"> MEN </a>
            <a class="navbar-link" href="#"> WOMEN </a>
            <a class="navbar-link" href="#"> KIDS </a>
            <a class="navbar-link" href="#"> FANCY </a>
            <a class="navbar-link" href="#"> COLLECTION </a>
        </nav>
        <h6 id="copyright">
            Copyright CURVZ All Right Reserved
        </h6>
    </div>
</footer>
