<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../assets/css/_footer.css">
</head>
<body>
    <!-- footer partial for layout -->
    <footer>
        <div class="footer-part-1">
            <div class="footer-images-1"><img src="../assets/images/sweters.jpg" alt="Image not available" class="footer-images-2"></div>
            <div class="footer-images-1"><img src="../assets/images/sweters.jpg" alt="Image not available" class="footer-images-2"></div>
            <div class="footer-images-1"><img src="../assets/images/sweters.jpg" alt="Image not available" class="footer-images-2"></div>
            <div class="footer-images-1"><img src="../assets/images/sweters.jpg" alt="Image not available" class="footer-images-2"></div>
            <div class="footer-images-1"><img src="../assets/images/sweters.jpg" alt="Image not available" class="footer-images-2"></div>
        </div>
        <div class="footer-part-2">
            <nav>
                <a class="navbar-links" href="#"> MEN </a>
                <a class="navbar-links" href="#"> WOMEN </a>
                <a class="navbar-links" href="#"> KIDS </a>
                <a class="navbar-links" href="#"> FANCY </a>
                <a class="navbar-links" href="#"> COLLECTION </a>
            </nav>
        </div>
    </footer>
    
</body>
</html>