<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../assets/css/_footer.css">
</head>
<body>
    <!-- footer partial for layout -->
    <footer>
        <div class="footer-part-1">
            <div class="footer-images-1"><img src="../assets/images/sweters.jpg" alt="Image not available" class="footer-images-2"></div>
            <div class="footer-images-1"><img src="../assets/images/sweters.jpg" alt="Image not available" class="footer-images-2"></div>
            <div class="footer-images-1"><img src="../assets/images/sweters.jpg" alt="Image not available" class="footer-images-2"></div>
            <div class="footer-images-1"><img src="../assets/images/sweters.jpg" alt="Image not available" class="footer-images-2"></div>
            <div class="footer-images-1"><img src="../assets/images/sweters.jpg" alt="Image not available" class="footer-images-2"></div>
        </div>

        <div class="social">
            <div id="social-media-icons">
                <img src="../assets/images/twitter-sign.png" alt="Image unavailable" class="social-media-images">
                <img src="../assets/images/youtube.png" alt="Image unavailable" class="social-media-images">
                <img src="../assets/images/linkedin.png" alt="Image unavailable" class="social-media-images">
                <img src="../assets/images/instagram.png" alt="Image unavailable" class="social-media-images">
            </div>
        </div>

        <div class="footer-part-2">
            <nav>
                <a class="navbar-link" href="#"> MEN </a>
                <a class="navbar-link" href="#"> WOMEN </a>
                <a class="navbar-link" href="#"> KIDS </a>
                <a class="navbar-link" href="#"> FANCY </a>
                <a class="navbar-link" href="#"> COLLECTION </a>
            </nav>
            <h4 id="copyright">
                Copyright CURVZ All Right Reserved
            </h4>
        </div>
    </footer>
    
</body>
</html> 