<!-- Description : Development of odd assigned parts of the event
Author: Rajsekhor Saikia
Contributors: Abhishek Kumar Jha
              Rohan Shrivastava
              Rajsekhor Saikia
            -->




<!-- External Links -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://fonts.google.com/specimen/Staatliches?query=Staatliches">
<link rel="stylesheet" href="https://fonts.google.com/specimen/Poppins?query=Poppins">

<link rel="stylesheet" href="/css/_navbar-style_al.scss">




<!-- Navbar -->
<header class="header-part-1">
  <nav class="navbar">
    <!-- Icon of Curvz and Link to Homepage -->
    <div class="navbar-part-1">
      <a class="navbar-icon" href="#">
        <img class="navbar-icon-image" src="/images/cc.png" alt="icon" />
      </a>
    </div>

    <div class="navbar-part-2">
      <a class="navbar-links" href="#"> MEN </a>
      <a class="navbar-links" href="#"> WOMEN </a>
      <a class="navbar-links" href="#"> KIDS </a>
      <a class="navbar-links" href="#"> FANCY </a>
      <a class="navbar-links" href="#"> COLLECTION </a>
    </div>
    <div class="navbar-part-3">
      <!-- <a class="navbar-login" href="signup.html" target="_self"> LOGIN </a> -->
      <div class="elementContainer">
        <img src="/images/search.png" class="search-icon" alt="">
        <!-- <input type="text" class="search"> -->
      </div>
      <div>
        <img src="/images/shopping.png" class="navbar-3-shop" alt="">
      </div>
      <div>
        <img src="/images/user.png" class="navbar-3" alt="">
      </div>
    </div>
  </nav>
</header>