<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <link rel="stylesheet" href="..\assets\css\_sign_in_up_common.css">
        <link rel="stylesheet" href="..\assets\css\_sign_up.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">

    
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"><img id="logo" src="../assets/images/cc.png"">
                <div class="center">
                    <h1>Create New Account</h1>
                    <div>
                        <form action="">
                            <input class="input" type="text" name="Full Name" id="Full_name" placeholder="Full Name">
                            <input class="input" type="email" name="Email" id="Email" placeholder="Email">
                            <input class="input" type="password" name="Password" id="Password" placeholder="Password">
                            <input class="input" type="text" name="dob" id="dob" placeholder="Date of Birth">
                            <label id="tnc" for="tc">
                                <input class="check" type="checkbox" name="tc" id="tc" required>
                                Yes, I understand and agree to Curvz <a class="tc-links" href="">Terms Of Service</a>, including the <a class="tc-links" href="">User Agreement</a> and <a class="tc-links" href="">Privacy Policy</a>.
                            </label>
                            <input id="main-btn" type="submit" name="submit" value="Join Us">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 part-2">
                <div class="part-2-1">
                    WELCOME
                </div>
                <div class="part-2-2">
                    We are happy to see you here !
                </div>
                <div id="part-2-3">
                    Already have an account ?
                </div>
                <div class="part-2-4">
                    <a id="side-btn" href="#">Login</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>