<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CURVZ</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="deals-container">
      <!-- left side -->
      <div class="left-box">
        <h1>DEAL OF THE DAY</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
          natus aliquam eos voluptas architecto harum.
        </p>
        <div class="image-container">
          <div class="image-box">
            <img src="./images/lance-asper-N9Pf2J656aQ-unsplash.jpg" alt="" />
          </div>
          <div class="image-box">
            <img src="./images/lance-asper-N9Pf2J656aQ-unsplash.jpg" alt="" />
          </div>
          <div class="image-box">
            <img src="./images/lance-asper-N9Pf2J656aQ-unsplash.jpg" alt="" />
          </div>
        </div>
        <button>SHOP NOW</button>
      </div>

      <!-- right side image -->
      <div class="right-box">
        <img
          class="big-image"
          src="./images/joey-banks-YApiWyp0lqo-unsplash.jpg"
          alt=""
        />
      </div>
    </div>
  </body>
</html>
