<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- Google Font Links -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="..\assets\css\home-view-style.css">


    <title>Document</title>
</head>

<body>
    <div class="home-view">

        <!-- All contents of the home view except circle -->

        <div class="section-1">
            <div class="section-1-1">

                <!-- One collection of dots, texts and shop now link -->

                <div class="dotted-collection"></div>

                <div class="home-view-best-style">
                    <h1>FIND THE BEST STYLE FOR YOU</h1>
                </div>

                <div class="home-view-best-style-details">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maiores rerum voluptatem culpa
                        labore corrupti, obcaecati ex aspernatur repellat</p>
                </div>

                <div class="home-view-button">
                    <a class="home-view-shop-now" href="#">SHOP NOW</a>
                </div>
            </div>

            <!-- Square shape and two collection of dots -->

            <div class="section-1-2">

                <div class="home-view-shape-1">
                    <div class="section-1-2-1">
                        <div class="dotted-collection"></div>
                    </div>
                    <div class="section-1-2-2">
                        <div class="dotted-collection"></div>
                    </div>



                </div>


            </div>
        </div>

        <!-- Circle -->

        <div class="section-2-1">

            <div class="home-view-shape-2"></div>

        </div>





    </div>
</body>

</html>