<!-- Linking Material Symbols CDN -->
<link
rel="stylesheet"
href="https://fonts.googleapis.com/icon?family=Material+Symbols+Rounded"/>

<link rel="stylesheet" href="/css/home-view-style.css">
<div class="home-view">
  <!-- All contents of the home view except circle -->

  <div class="section-1">
    <div class="section-1-1">
      <!-- One collection of dots, texts and shop now link -->

      <div class="dotted-collection"></div>

      <div class="home-view-best-style">
        <h1>FIND THE BEST STYLE FOR YOU</h1>
      </div>

      <div class="home-view-best-style-details">
        <p>
          LOREM IPSUM DOLAR SIT AMIT, CONSECTETUR ADRESS ING ALET. QUISQ
          POLYSYONARA PORTA LUCTUS. EMINEM GUAVA MI AC MOLOTOVE.
        </p>
      </div>

      <div class="home-view-button">
        <a class="home-view-shop-now" href="#">SHOP NOW</a>
      </div>
    </div>

    <!-- Square shape and two collection of dots -->

    <div class="section-1-2">
      <div class="home-view-shape-1">
        <div class="section-1-2-1">
          <div class="dotted-collection"></div>
        </div>
        <div class="section-1-2-2">
          <div class="dotted-collection"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Circle -->

  <div class="section-2-1">
    <div class="home-view-shape-2"></div>
  </div>
</div>

<!-- Content of New Collection -->

<div class="newcollection">
  <div class="container">
    <h1>New Collection</h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
      ipsum quam numquam! Quod, nemo aliquam.
    </p>

    <!-- Three Square Boxes -->
    <div class="row">
      <div class="coll-col">
        <img src="../assets/images/Shirts.jpg" alt="shirts" />
        <div class="outerbox">
          <!--FIRST BOX   -->
          <h3>SHIRTS</h3>
        </div>
      </div>
      <div class="coll-col">
        <img src="../assets/images/lehengas.jpg" alt="shirts" />
        <div class="outerbox">
          <!--SECOND BOX   -->
          <h3>LEHENGAS</h3>
        </div>
      </div>
      <div class="coll-col">
        <img src="../assets/images/sweters.jpg" alt="shirts" />
        <div class="outerbox">
          <!--THIRD BOX   -->
          <h3>SWEATERS</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="dottedcollection"></div>
</div>

<!-- for best design available -->

<div class="bestdesignavailable">
  <div class="bestdesign-wrap">
    <!-- container divided into two components -left and right -->

    <!-- left component -->
    <div class="bestdesign-left"></div>

    <div class="dot-holder">
      <div class="dotted-collection"></div>
    </div>

    <!-- right componenent-->

    <div class="bestdesign-right">
      <div class="bestdesign-content">
        <div class="bestdesign-right-content-t">
          <h2>BEST DESIGNS AVAILABE</h2>
        </div>
        <div class="bestdesign-right-content-d">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit,
            aperiam suscipit. Distinctio tempora excepturi ut corrupti
            explicabo nemo atque, libero nobis beatae totam voluptatibus
            ratione. Eligendi laudantium optio at nesciunt!
          </p>
        </div>
      </div>
    </div>
    <div class="bd-bottom-left"></div>

    <!-- information about CURVZ -->

    <div class="bd-info">
      <div class="bd-info-d">
        <h4 class="one">2022</h4>
        <p>Curvz Founded</p>
      </div>
      <div class="bd-info-d">
        <h4 class="two">8600+</h4>
        <p>Products Sold</p>
      </div>
      <div class="bd-info-d">
        <h4 class="three">3105</h4>
        <p>Best Reviews</p>
      </div>
    </div>
  </div>
</div>
<!-- best design section ends -->

<!-- for best seller section -->
<div class="best-seller-section">
  <div class="section-body">
    <div class="section-header">BEST SELLING PRODUCT</div>
    <div class="section-description">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, r Lorem
      ipsum dolor, sit amet consectetur adipisicing elit. Vero, earum
      accusamus. Harum unde nostrum veniam ex atque dolore eum repellendus.
    </div>
    <div class="section-description">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, rem quia
      repellat nesciunt molestiae, aliqui
    </div>
    <div class="section-description">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, rem quia
      repellat nesciunt molestiae, aliquid suscipit laudantium
    </div>
    <div class="section-call-to-action">
      <a href="">SEE MORE</a>
    </div>
  </div>
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
    data-bs-interval="6000"
  >
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="card">
          <img
            src="../assets/images/des1.jpg"
            class="card-img-top"
            alt="first slide"
          />
          <div class="card-body">
            <div><strong>Curvz Founded</strong></div>
            <div><del>$1200</del> <strong>$750</strong></div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img
            src="../assets/images/des2.jpg"
            class="card-img-top"
            alt="second slide"
          />
          <div class="card-body">
            <div><strong>Curvz Founded</strong></div>
            <div><del>$1200</del> <strong>$750 </strong></div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="card">
          <img
            src="../assets/images/des3.jpg"
            class="card-img-top"
            alt="second slide"
          />
          <div class="card-body">
            <div><strong>Curvz Founded</strong></div>
            <div><del>$1200</del> <strong>$750</strong></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- best seller section ends -->

<!-- Our Products Starts -->

<div class="ourProducts">
  <h1>Our Products</h1>
  <div class="Product_List">
    <span class="button">&nbsp;Hot&nbsp;</span>
    <span class="button">&nbsp;On Sale&nbsp;</span>
    <span class="button">&nbsp;Trending Now&nbsp;</span>
    <span class="button">&nbsp;New Arrival&nbsp;</span>
  </div>
  <div class="FlexBox">
    <div class="postcard">
      <img src="../assets/images/product1.jpg" alt="Grey_Box" />
      <div class="text-area">
        <h3>Curvz Founded</h3>
        <span class="fake-price">$244</span>
        <span class="real-price">$140</span>
      </div>
    </div>
    <div class="postcard">
      <img src="../assets/images/product2.jpg" alt="Grey_Box" />
      <div class="text-area">
        <h3>Curvz Founded</h3>
        <span class="fake-price">$244</span>
        <span class="real-price">$140</span>
      </div>
    </div>
    <div class="postcard">
      <img src="../assets/images/product3.jpg" alt="Grey_Box" />
      <div class="text-area">
        <h3>Curvz Founded</h3>
        <span class="fake-price">$244</span>
        <span class="real-price">$140</span>
      </div>
    </div>
  </div>
  <div class="FlexBox">
    <div class="postcard">
      <img src="../assets/images/product4.jpg" alt="Grey_Box" />
      <div class="text-area">
        <h3>Curvz Founded</h3>
        <span class="fake-price">$244</span>
        <span class="real-price">$140</span>
      </div>
    </div>
    <div class="postcard">
      <img src="../assets/images/product5.jpg" alt="Grey_Box" />
      <div class="text-area">
        <h3>Curvz Founded</h3>
        <span class="fake-price">$244</span>
        <span class="real-price">$140</span>
      </div>
    </div>
    <div class="postcard">
      <img src="../assets/images/product6.jpg" alt="Grey_Box" />
      <div class="text-area">
        <h3>Curvz Founded</h3>
        <span class="fake-price">$244</span>
        <span class="real-price">$140</span>
      </div>
    </div>
  </div>
</div>

<!-- Our Products Ends -->

<!-- Deals of the day starts -->

<div class="dealsDay">
  <div class="deals-container">
    <!-- left side -->
    <div class="left-box">
      <h1>DEAL OF THE DAY</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
        natus aliquam eos voluptas architecto harum.
      </p>
      <div class="image-container">
        <div class="box">
          <h1 class="container-hour">06</h1>
          <p class="hours">Hours</p>
        </div>
        <div class="box">
          <h1 class="container-minute">12</h1>
          <p>Minutes</p>
        </div>
        <div class="box">
          <h1 class="container-second">19</h1>
          <p>Seconds</p>
        </div>
      </div>
      <button>SHOP NOW</button>
    </div>

    <!-- right side image -->
    <div class="right-box">
      <img class="big-image" src="../assets/images/deal.jpg" alt="" />
    </div>
  </div>
</div>

<!-- Deals of the day ends -->
