<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="..\css\home-view-style.css">


    <title>Document</title>
</head>

<body>
    <div class="home-view">
        <div class="dotted-collection"></div>
        <div class="home-view-shape-1"></div>
        <div class="home-view-shape-2"></div>


    </div>
</body>

</html>