<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />


  <link rel="stylesheet" href="/css/layout.css" />

  <!-- Style content that we want to implement -->
  <%- style %>

  
    <title>Curvz</title>
</head>

<body>
  <% if(!(title==="Sign up" || title==="Sign in" || title === "adminDashboard" ) ) {%>
    <%- include('./components/_header');%>
  <%}%>
  <!-- Variable content that we want to show -->
  <%- body %>
  <% if(!(title==="Sign up" || title==="Sign in" || title === "adminDashboard" ) ) {%>
    <%- include('./components/_footer');%>
  <%}%>


  <!-- scripts imported -->



</body>

</html>