<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="major">
        <h1>CURVZ</h1>
        <div class="center">
            <h1>Login To Your Account</h1>
            <div class="links">
                <p>Login Using Social Networks</p>
                <div class="icons">
                    <a href="www.facebook.com"><img id="fb" src="facebook-svgrepo-com.svg" alt="facebook" width="5%" height="5%"></a>
                    <a href="www.google.com"><img src="GOOG.svg" alt="google" width="4%" height="4%"></a>
                    <a href="www.linkedin.com"><img src="linkedin-svgrepo-com.svg" alt="linkedin" width="4%" height="4%"></a>
                </div>
            </div>
            <div class="divisor">
                <p id="or">OR</p>
            </div>
            <div class="details">
                <form action="">
                    <input type="text" name="Email" id="Email" placeholder="&nbsp;&nbsp;Email">
                    <input type="text" name="Password" id="Password" placeholder="&nbsp;&nbsp;Password">
                    <button id="btn1" type="submit">Sign In</button>
                </form>
            </div>
        </div>
    </div>
    <div class="minor">
        <h1>New Here ?</h1>
        <p>Sign Up and discover new variety</p>
        <p>of styles and designs!</p>
        <a href="../signup/sign_up.html"><button id="btn2" type="button">Sign Up</button></a>
    </div>
</body>
</html>