<!-- Description : Development of odd assigned parts of the event
Author : Ayush Raj
Date: 9th August 2022 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- External Links -->
    <link rel="stylesheet" href="../assets/css/new_collection.css">
    <link href="https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">

    <title>Document</title>
</head>

<body>
    <!-- Content of New Collection -->

    <div class="newcollection">
        <h1>New Collection</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate ipsum quam numquam! Quod, nemo aliquam.
        </p>
    </div>


    <!-- Three Square Boxes -->


    <div class="container">
        <div class="outerbox">
            <!--FIRST BOX   -->
            <a href="#">SHIRT</a>
        </div>
        <div class="outerbox">
            <!--SECOND BOX   -->
            <a href="#">SHORTS</a>
        </div>
        <div class="outerbox">
            <!--THIRD BOX   -->
            <a href="#">SWEATER</a>
        </div>
        <div class="dottedcollection"></div>
    </div>

</body>

</html>
</body>

</html>