<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/Our_Products.css">
</head>
<body>
    <h1>Our Products</h1>
    <div class="Product_List">
        <span class="button">&nbsp;Hot&nbsp;</span>
        <span class="button">&nbsp;On Sale&nbsp;</span>
        <span class="button">&nbsp;Trending Now&nbsp;</span>
        <span class="button">&nbsp;New Arrival&nbsp;</span>
    </div>
    <div class="FlexBox">
        <div class="postcard">
            <img src="../assets/images/Grey_Box.jpeg" alt="Grey_Box">
            <div class="text-area">
                <h3>Curvz Founded</h3>
            <span class="fake-price">$244</span>
            <span class="real-price">$140</span>
            </div>
        </div>
        <div class="postcard">
            <img src="../assets/images/Grey_Box.jpeg" alt="Grey_Box">
            <div class="text-area">
                <h3>Curvz Founded</h3>
            <span class="fake-price">$244</span>
            <span class="real-price">$140</span>
            </div>
        </div>
        <div class="postcard">
            <img src="../assets/images/Grey_Box.jpeg" alt="Grey_Box">
            <div class="text-area">
                <h3>Curvz Founded</h3>
            <span class="fake-price">$244</span>
            <span class="real-price">$140</span>
            </div>
        </div>
    </div>
    <div class="FlexBox">
        <div class="postcard">
            <img src="../assets/images/Grey_Box.jpeg" alt="Grey_Box">
            <div class="text-area">
                <h3>Curvz Founded</h3>
            <span class="fake-price">$244</span>
            <span class="real-price">$140</span>
            </div>
        </div>
        <div class="postcard">
            <img src="../assets/images/Grey_Box.jpeg" alt="Grey_Box">
            <div class="text-area">
                <h3>Curvz Founded</h3>
            <span class="fake-price">$244</span>
            <span class="real-price">$140</span>
            </div>
        </div>
        <div class="postcard">
            <img src="../assets/images/Grey_Box.jpeg" alt="Grey_Box">
            <div class="text-area">
                <h3>Curvz Founded</h3>
            <span class="fake-price">$244</span>
            <span class="real-price">$140</span>
            </div>
        </div>
</body>
</html>