
<link rel="stylesheet" href="/css/products.css">

<!-- font awesome -->
<script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>


<div class="products">
    <section id="sidebar">
        <div class="sidebar-headers"><p>Browse By</p></div>
        <div id="sidebar-clothes">
            <a href="#" class="sidebar-links">Shirt</a>
            <a href="#" class="sidebar-links">Shoes</a>
            <a href="#" class="sidebar-links">Sweaters & Knits</a>
            <a href="#" class="sidebar-links">Pants</a>
            <a href="#" class="sidebar-links">Outwears</a>
            <a href="#" class="sidebar-links">Fancywear</a>
        </div>
        <div class="sidebar-headers"><p>Filter</p><a href="#" class="sidebar-links">+</a> </div>
        <div class="sidebar-headers"><p>Price</p><a href="#" class="sidebar-links">+</a> </div>
        <div class="sidebar-headers"><p>Color</p><a href="#" class="sidebar-links">+</a> </div>
        <div class="sidebar-headers"><p>Brand</p><a href="#" class="sidebar-links">+</a> </div>
        <div id="sidebar-reset"><a href="#" class="sidebar-links">Reset All Filters</a></div>
    </section>
    <div class="container">
        <h1 class="lg-title">Special Shoes With Offers</h1>
        <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur quos sit
            consectetur, ipsa voluptatem vitae necessitatibus dicta veniam, optio, possimus assumenda laudantium.
            Temporibus, quis cum.</p>

        <div class="product-items">
            <!-- single product -->
            <div class="product">
                <div class="product-content">
                    <div class="product-img">
                        <img src="/images/shoe-1.png" alt="product image">
                    </div>
                    <div class="product-btns">
                        <button type="button" class="btn-cart"> add to cart
                            <span><i class="fas fa-plus"></i></span>
                        </button>
                        <button type="button" class="btn-buy"> buy now
                            <span><i class="fas fa-shopping-cart"></i></span>
                        </button>
                    </div>
                </div>

                <div class="product-info">
                    <div class="product-info-top">
                        <h2 class="sm-title">lifestyle</h2>
                        <div class="rating">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                    </div>
                    <a href="#" class="product-name">mens shoes DN 23XX, new product</a>
                    <p class="product-price">$ 150.00</p>
                    <p class="product-price">$ 133.00</p>
                </div>

                <div class="off-info">
                    <h2 class="sm-title">25% off</h2>
                </div>
            </div>
            <!-- end of single product -->
            <!-- single product -->
            <div class="product">
                <div class="product-content">
                    <div class="product-img">
                        <img src="/images/shoe-2.png" alt="product image">
                    </div>
                    <div class="product-btns">
                        <button type="button" class="btn-cart"> add to cart
                            <span><i class="fas fa-plus"></i></span>
                        </button>
                        <button type="button" class="btn-buy"> buy now
                            <span><i class="fas fa-shopping-cart"></i></span>
                        </button>
                    </div>
                </div>

                <div class="product-info">
                    <div class="product-info-top">
                        <h2 class="sm-title">lifestyle</h2>
                        <div class="rating">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                    </div>
                    <a href="#" class="product-name">mens shoes DN 23XX, new product</a>
                    <p class="product-price">$ 150.00</p>
                    <p class="product-price">$ 133.00</p>
                </div>
            </div>
            <!-- end of single product -->
            <!-- single product -->
            <div class="product">
                <div class="product-content">
                    <div class="product-img">
                        <img src="/images/shoe-3.png" alt="product image">
                    </div>
                    <div class="product-btns">
                        <button type="button" class="btn-cart"> add to cart
                            <span><i class="fas fa-plus"></i></span>
                        </button>
                        <button type="button" class="btn-buy"> buy now
                            <span><i class="fas fa-shopping-cart"></i></span>
                        </button>
                    </div>
                </div>

                <div class="product-info">
                    <div class="product-info-top">
                        <h2 class="sm-title">lifestyle</h2>
                        <div class="rating">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                    </div>
                    <a href="#" class="product-name">mens shoes DN 23XX, new product</a>
                    <p class="product-price">$ 150.00</p>
                    <p class="product-price">$ 133.00</p>
                </div>
            </div>
            <!-- end of single product -->
            <!-- single product -->
            <div class="product">
                <div class="product-content">
                    <div class="product-img">
                        <img src="/images/shoe-4.png" alt="product image">
                    </div>
                    <div class="product-btns">
                        <button type="button" class="btn-cart"> add to cart
                            <span><i class="fas fa-plus"></i></span>
                        </button>
                        <button type="button" class="btn-buy"> buy now
                            <span><i class="fas fa-shopping-cart"></i></span>
                        </button>
                    </div>
                </div>

                <div class="product-info">
                    <div class="product-info-top">
                        <h2 class="sm-title">lifestyle</h2>
                        <div class="rating">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                    </div>
                    <a href="#" class="product-name">mens shoes DN 23XX, new product</a>
                    <p class="product-price">$ 150.00</p>
                    <p class="product-price">$ 133.00</p>
                </div>

                <div class="off-info">
                    <h2 class="sm-title">25% off</h2>
                </div>
            </div>
            <!-- end of single product -->
            <!-- single product -->
            <div class="product">
                <div class="product-content">
                    <div class="product-img">
                        <img src="/images/shoe-5.png" alt="product image">
                    </div>
                    <div class="product-btns">
                        <button type="button" class="btn-cart"> add to cart
                            <span><i class="fas fa-plus"></i></span>
                        </button>
                        <button type="button" class="btn-buy"> buy now
                            <span><i class="fas fa-shopping-cart"></i></span>
                        </button>
                    </div>
                </div>

                <div class="product-info">
                    <div class="product-info-top">
                        <h2 class="sm-title">lifestyle</h2>
                        <div class="rating">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                    </div>
                    <a href="#" class="product-name">womens shoes DN 23XX, new product</a>
                    <p class="product-price">$ 150.00</p>
                    <p class="product-price">$ 133.00</p>
                </div>
            </div>
            <!-- end of single product -->
            <!-- single product -->
            <div class="product">
                <div class="product-content">
                    <div class="product-img">
                        <img src="/images/shoe-6.png" alt="product image">
                    </div>
                    <div class="product-btns">
                        <button type="button" class="btn-cart"> add to cart
                            <span><i class="fas fa-plus"></i></span>
                        </button>
                        <button type="button" class="btn-buy"> buy now
                            <span><i class="fas fa-shopping-cart"></i></span>
                        </button>
                    </div>
                </div>

                <div class="product-info">
                    <div class="product-info-top">
                        <h2 class="sm-title">lifestyle</h2>
                        <div class="rating">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                    </div>
                    <a href="#" class="product-name">womens shoes DN 23XX, new product</a>
                    <p class="product-price">$ 150.00</p>
                    <p class="product-price">$ 133.00</p>
                </div>
            </div>
            <!-- end of single product -->
            <!-- single product -->
            <div class="product">
                <div class="product-content">
                    <div class="product-img">
                        <img src="/images/shoe-7.png" alt="product image">
                    </div>
                    <div class="product-btns">
                        <button type="button" class="btn-cart"> add to cart
                            <span><i class="fas fa-plus"></i></span>
                        </button>
                        <button type="button" class="btn-buy"> buy now
                            <span><i class="fas fa-shopping-cart"></i></span>
                        </button>
                    </div>
                </div>

                <div class="product-info">
                    <div class="product-info-top">
                        <h2 class="sm-title">lifestyle</h2>
                        <div class="rating">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                    </div>
                    <a href="#" class="product-name">womens shoes DN 23XX, new product</a>
                    <p class="product-price">$ 150.00</p>
                    <p class="product-price">$ 133.00</p>
                </div>
            </div>
            <!-- end of single product -->
            <!-- single product -->
            <div class="product">
                <div class="product-content">
                    <div class="product-img">
                        <img src="/images/shoe-8.png" alt="product image">
                    </div>
                    <div class="product-btns">
                        <button type="button" class="btn-cart"> add to cart
                            <span><i class="fas fa-plus"></i></span>
                        </button>
                        <button type="button" class="btn-buy"> buy now
                            <span><i class="fas fa-shopping-cart"></i></span>
                        </button>
                    </div>
                </div>

                <div class="product-info">
                    <div class="product-info-top">
                        <h2 class="sm-title">lifestyle</h2>
                        <div class="rating">
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="fas fa-star"></i></span>
                            <span><i class="far fa-star"></i></span>
                        </div>
                    </div>
                    <a href="#" class="product-name">womens shoes DN 23XX, new product</a>
                    <p class="product-price">$ 150.00</p>
                    <p class="product-price">$ 133.00</p>
                </div>

                <div class="off-info">
                    <h2 class="sm-title">35% off</h2>
                </div>
            </div>
            <!-- end of single product -->
        </div>
    </div>
</div>

<div class="product-collection">
    <div class="container">
        <div class="product-collection-wrapper">
            <!-- product col left -->
            <div class="product-col-left flex">
                <div class="product-col-content">
                    <h2 class="sm-title">men's shoes </h2>
                    <h2 class="md-title">men's collection </h2>
                    <p class="text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae
                        consequatur facilis eligendi quibusdam voluptatibus exercitationem autem voluptatum, beatae
                        architecto odit, quisquam repellat. Deleniti, architecto ab.</p>
                    <button type="button" class="btn-dark">Shop now</button>
                </div>
            </div>

            <!-- product col right -->
            <div class="product-col-right">
                <div class="product-col-r-top flex">
                    <div class="product-col-content">
                        <h2 class="sm-title">women's dresses </h2>
                        <h2 class="md-title">women's collection </h2>
                        <p class="text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae
                            consequatur facilis eligendi quibusdam voluptatibus exercitationem autem voluptatum,
                            beatae architecto odit, quisquam repellat. Deleniti, architecto ab.</p>
                        <button type="button" class="btn-dark">Shop now</button>
                    </div>
                </div>

                <div class="product-col-r-bottom">
                    <!-- left -->
                    <div class="flex">
                        <div class="product-col-content">
                            <h2 class="sm-title">summer sale </h2>
                            <h2 class="md-title">Extra 50% Off </h2>
                            <p class="text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Molestiae consequatur facilis eligendi quibusdam voluptatibus exercitationem autem
                                voluptatum, beatae architecto odit, quisquam repellat. Deleniti, architecto ab.</p>
                            <button type="button" class="btn-dark">Shop now</button>
                        </div>
                    </div>
                    <!-- right -->
                    <div class="flex">
                        <div class="product-col-content">
                            <h2 class="sm-title">shoes </h2>
                            <h2 class="md-title">best sellers </h2>
                            <p class="text-light">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                                Molestiae consequatur facilis eligendi quibusdam voluptatibus exercitationem autem
                                voluptatum, beatae architecto odit, quisquam repellat. Deleniti, architecto ab.</p>
                            <button type="button" class="btn-dark">Shop now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>