<link rel="stylesheet" href="/css/product-details.css">
<script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
<title>Product Detailst</title>


<div id="header">
    <h1 id="heading">Product Details</h1>
</div>
<%console.log(productdata)%>
<div id="product">
    <div id="prod-img">
        <img src="/images/sweters.jpg" alt="" id="image">
    </div>
    <div id="prod-details">
        <h1 id="detail-heading"><%=productdata.productName%></h1>
        <div id="price">
            <%let u=productdata.price-(productdata.price * productdata.discount)/100%>
            <span id="actual-price">$<%=u%></span>
            <span id="orignal-price">$<%=productdata.price%></span>
        </div>
        <div id="star-rating">
            <p id="star-no">
                <i class="star"></i>
                <i class="star"></i>
                <i class="star"></i>
                <i class="star"></i>
            </p>
            <p id="review-no">(2k reviws)</p>
        </div>
        <div id="note">
            <p class="desc-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ducimus inventore consectetur odit officiis, cum velit maiores ad, blanditiis vero non libero, sint tempora! Blanditiis debitis ipsum facere itaque. Quam.</p>
            <p class="desc-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis labore animi ea provident dolores rerum, magni perspiciatis deleniti error consectetur quibusdam illum, atque perferendis! Minima ut repellat ex sed necessitatibus dolorem, vitae saepe velit expedita praesentium ipsam debitis corporis nam cum. Consequuntur, excepturi reiciendis. Doloribus sint reiciendis dolor suscipit voluptatum dicta, saepe repellat accusantium modi! Quia tempora debitis perspiciatis commodi!</p>
        </div>
        <div id="prod-options">
            <img src="/images/shopping.png" alt="" class="bttn-cart">
            <span class="cart-no">4</span>
            <img src="/images/shopping.png" alt="" class="bttn-cart">
            <div id="option1">
                <div class="option-cart">Add to Cart</div>
                <div class="option-cart">Buy Now</div>
            </div>
        </div>
        <div id="account-actions">
                <div class="option-account">
                    <img src="/images/shopping.png" alt="" class="bttn">
                    <p class="account-option-desc">Add to Wishlist</p>
                </div>
                <div class="option-account">
                    <img src="/images/shopping.png" alt="" class="bttn">
                    <p class="account-option-desc">Compare</p>
                </div>
        </div>
    </div>
</div>

<div id="product-views">
    <img src="/images/sweters.jpg" alt="" class="image-blur">
    <img src="/images/sweters.jpg" alt="" class="image-blur">
    <img src="/images/shopping.png" alt="" id="bttn-view">
</div>

<div id="detail-list">
    <div id="filters">
        <div class="filter" id="tab1"><button class="fliter-desc"  onclick="desclick(this.id);">Description</button></div>
        <div class="filter" id="tab2"><button class="fliter-desc" onclick="specclick(this.id);">Specification</button></div>
        <div class="filter" id="tab3"><button class="fliter-desc" onclick="revclick(this.id);">Review</button></div>
    </div>

    <div id="description">
        <p class="desc-content">Description: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, tempora voluptatem, consectetur ratione maiores eaque cumque cupiditate, sunt illo magni quasi exercitationem provident eos ab laboriosam eligendi optio quod fugiat.</p>
        <p class="desc-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita laborum nobis voluptate labore accusantium laudantium assumenda accusamus numquam vitae, suscipit deleniti minus pariatur. Neque, suscipit dolore. Ducimus neque laboriosam, sint dolores beatae quia facere eos facilis excepturi distinctio voluptas itaque quos repellat, provident atque cupiditate?</p>
        <p class="desc-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto facilis excepturi odit. Id, molestias nemo eligendi nisi necessitatibus distinctio ea sit laboriosam quia aut quam ducimus vitae dolore voluptas quas autem. Nostrum laborum saepe cupiditate odit blanditiis fuga fugiat recusandae! Autem eos a architecto porro corrupti maiores doloremque, ducimus vero.</p>
        <p class="desc-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad voluptate enim quasi, delectus consectetur laborum distinctio deserunt repellendus ea eius quas magnam veniam itaque alias quae consequatur iusto ipsam praesentium? Doloremque totam neque dignissimos, alias accusantium ex cupiditate quis voluptas placeat cumque eos voluptate ab sit nostrum iste eligendi repudiandae et. Excepturi necessitatibus, nostrum aliquid quod totam enim autem quos!</p>
    </div>

    <div id="specification" class="hide">
        <p class="spec-content">Specification: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, tempora voluptatem, consectetur ratione maiores eaque cumque cupiditate, sunt illo magni quasi exercitationem provident eos ab laboriosam eligendi optio quod fugiat.</p>
        <p class="spec-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita laborum nobis voluptate labore accusantium laudantium assumenda accusamus numquam vitae, suscipit deleniti minus pariatur. Neque, suscipit dolore. Ducimus neque laboriosam, sint dolores beatae quia facere eos facilis excepturi distinctio voluptas itaque quos repellat, provident atque cupiditate?</p>
        <p class="spec-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto facilis excepturi odit. Id, molestias nemo eligendi nisi necessitatibus distinctio ea sit laboriosam quia aut quam ducimus vitae dolore voluptas quas autem. Nostrum laborum saepe cupiditate odit blanditiis fuga fugiat recusandae! Autem eos a architecto porro corrupti maiores doloremque, ducimus vero.</p>
        <p class="spec-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad voluptate enim quasi, delectus consectetur laborum distinctio deserunt repellendus ea eius quas magnam veniam itaque alias quae consequatur iusto ipsam praesentium? Doloremque totam neque dignissimos, alias accusantium ex cupiditate quis voluptas placeat cumque eos voluptate ab sit nostrum iste eligendi repudiandae et. Excepturi necessitatibus, nostrum aliquid quod totam enim autem quos!</p>
    </div>

    <div id="review" class="hide">
        <p class="review-content">Review: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, tempora voluptatem, consectetur ratione maiores eaque cumque cupiditate, sunt illo magni quasi exercitationem provident eos ab laboriosam eligendi optio quod fugiat.</p>
        <p class="review-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita laborum nobis voluptate labore accusantium laudantium assumenda accusamus numquam vitae, suscipit deleniti minus pariatur. Neque, suscipit dolore. Ducimus neque laboriosam, sint dolores beatae quia facere eos facilis excepturi distinctio voluptas itaque quos repellat, provident atque cupiditate?</p>
        <p class="review-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto facilis excepturi odit. Id, molestias nemo eligendi nisi necessitatibus distinctio ea sit laboriosam quia aut quam ducimus vitae dolore voluptas quas autem. Nostrum laborum saepe cupiditate odit blanditiis fuga fugiat recusandae! Autem eos a architecto porro corrupti maiores doloremque, ducimus vero.</p>
        <p class="review-content">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad voluptate enim quasi, delectus consectetur laborum distinctio deserunt repellendus ea eius quas magnam veniam itaque alias quae consequatur iusto ipsam praesentium? Doloremque totam neque dignissimos, alias accusantium ex cupiditate quis voluptas placeat cumque eos voluptate ab sit nostrum iste eligendi repudiandae et. Excepturi necessitatibus, nostrum aliquid quod totam enim autem quos!</p>
    </div>
</div>

<div id="related-products">
    <h1 class="related-product-heading">Related Products</h1>
    <div class="box-list">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
    <div class="box-list">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
</div>

<script src="/js/product_details.js"></script>