<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sec-Men</title>
  <link rel="stylesheet" href="../assets/css/mens_sec.css" />
</head>

<body>
  <!-- Our Products Starts -->

  <div class="ourProducts">
    <div class="Product_List">
      <span class="button">&nbsp;Hot&nbsp;</span>
      <span class="button">&nbsp;On Sale&nbsp;</span>
      <span class="button">&nbsp;Trending Now&nbsp;</span>
      <span class="button">&nbsp;New Arrival&nbsp;</span>
    </div>
    <div class="FlexBox">
      <div class="postcard">
        <img src="product6.jpg" alt="Grey_Box" />
        <div class="text-area">
          <h3>Curvz Founded</h3>
          <span class="fake-price">$244</span>
          <span class="real-price">$140</span>
        </div>
      </div>
      <div class="postcard">
        <img src="product6.jpg" alt="Grey_Box" />
        <div class="text-area">
          <h3>Curvz Founded</h3>
          <span class="fake-price">$244</span>
          <span class="real-price">$140</span>
        </div>
      </div>
      <div class="postcard">
        <img src="product6.jpg" alt="Grey_Box" />
        <div class="text-area">
          <h3>Curvz Founded</h3>
          <span class="fake-price">$244</span>
          <span class="real-price">$140</span>
        </div>
      </div>
    </div>
    <div class="FlexBox">
      <div class="postcard">
        <img src="product6.jpg" alt="Grey_Box" />
        <div class="text-area">
          <h3>Curvz Founded</h3>
          <span class="fake-price">$244</span>
          <span class="real-price">$140</span>
        </div>
      </div>
      <div class="postcard">
        <img src="product6.jpg" alt="Grey_Box" />
        <div class="text-area">
          <h3>Curvz Founded</h3>
          <span class="fake-price">$244</span>
          <span class="real-price">$140</span>
        </div>
      </div>
      <div class="postcard">
        <img src="product6.jpg" alt="Grey_Box" />
        <div class="text-area">
          <h3>Curvz Founded</h3>
          <span class="fake-price">$244</span>
          <span class="real-price">$140</span>
        </div>
      </div>
    </div>
    <div class="FlexBox">
      <div class="postcard">
        <img src="product6.jpg" alt="Grey_Box" />
        <div class="text-area">
          <h3>Curvz Founded</h3>
          <span class="fake-price">$244</span>
          <span class="real-price">$140</span>
        </div>
      </div>
      <div class="postcard">
        <img src="product6.jpg" alt="Grey_Box" />
        <div class="text-area">
          <h3>Curvz Founded</h3>
          <span class="fake-price">$244</span>
          <span class="real-price">$140</span>
        </div>
      </div>
      <div class="postcard">
        <img src="product6.jpg" alt="Grey_Box" />
        <div class="text-area">
          <h3>Curvz Founded</h3>
          <span class="fake-price">$244</span>
          <span class="real-price">$140</span>
        </div>
      </div>
    </div>
    <div class="FlexBox">
      <div class="postcard">
        <img src="product6.jpg" alt="Grey_Box" />
        <div class="text-area">
          <h3>Curvz Founded</h3>
          <span class="fake-price">$244</span>
          <span class="real-price">$140</span>
        </div>
      </div>
      <div class="postcard">
        <img src="product6.jpg" alt="Grey_Box" />
        <div class="text-area">
          <h3>Curvz Founded</h3>
          <span class="fake-price">$244</span>
          <span class="real-price">$140</span>
        </div>
      </div>
      <div class="postcard">
        <img src="product6.jpg" alt="Grey_Box" />
        <div class="text-area">
          <h3>Curvz Founded</h3>
          <span class="fake-price">$244</span>
          <span class="real-price">$140</span>
        </div>
      </div>
    </div>
  </div>

  <!-- Our Products Ends -->


  <!--the style video box begins-->
  <div class="outerbox">

    <!-- area for the aside text section -->
    <div class="asidetext">
      <!-- the heading, followed by the paragraph -->
      <h1>STEP INTO THE WORLD OF STYLE</h1>
      <p>LOREM IPSUM DOLAR SIT AMIT, CONSECTETUR
        ADRESS ING ALET. QUISQ POLYSYONARA PORTA
        LUCTUS. EMINEM GUAVA MI AC MOLOTOVE.</p>
      <p> LOREM IPSUM DOLAR SIT AMIT, CONSECTETUR
        ADRESS ING ALET. QUISQ POLYSYONARA PORTA
        LUCTUS. EMINEM GUAVA MI AC MOLOTOVE.</p>
      <p> LOREM IPSUM DOLAR SIT AMIT, CONSECTETUR
        ADRESS ING ALET. QUISQ POLYSYONARA PORTA
        LUCTUS. EMINEM GUAVA MI AC MOLOTOVE.
      </p>
      <!-- button saying "SHOP NOW" -->
      <button type="button">SHOP NOW</button>
    </div>

    <!-- the video of a women browsing throught the outfits at a store -->
    <div class="video">
      <video id="vd" height="100%" width="100%" autoplay loop muted>
        <source src="clothes rack.mp4" type="video/mp4">
        Your browser does not support mp4.
      </video>
    </div>
  </div>
  <!--the style video box ends-->
  
  
  
  
  <!-- script to autoplay the video -->
  <script>
    document.getElementById('vd').play();
  </script>
</body>

</html>