<link rel="stylesheet" href="../assets/css/sec_kids.scss" />
<link rel="stylesheet" href="../assets/css/stylevideo.scss">



<!-- Main View -->
<div class="main-view">
    <div class="section-1">
        <div class="dotted-collection"></div>

        <div class="section-1-1">
            <video width="500" height="400" controls autoplay>
                <source src="../assets/videos/mens_1.mp4" type="video/mp4">
                Your browser does not support HTML video.
            </video>
        </div>

        <div class="section-1-2">
            <h1>ALWAYS TRENDY</h1>
            <p>LOREM IPSUM DOLAR SIT AMIT, CONSECTETUR ADRESS ING ALET. QUISQ
                POLYSYONARA PORTA LUCTUS. EMINEM GUAVA MI AC MOLOTOVE.</p>
            <div class="home-view-button">
                <a class="home-view-shop-now" href="#">SHOP NOW</a>
            </div>
        </div>

        <div class="dotted-collection"></div>
    </div>
</div>
<!-- Main View Ends -->

<!-- Our Products Starts -->

<div class="ourProducts">
    <div class="Product_List">
        <span class="button">&nbsp;Hot&nbsp;</span>
        <span class="button">&nbsp;On Sale&nbsp;</span>
        <span class="button">&nbsp;Trending Now&nbsp;</span>
        <span class="button">&nbsp;New Arrival&nbsp;</span>
    </div>
    <div class="FlexBox">
        <div class="postcard">
            <img src="product6.jpg" alt="Grey_Box" />
            <div class="text-area">
                <h3>Curvz Founded</h3>
                <span class="fake-price">$244</span>
                <span class="real-price">$140</span>
            </div>
        </div>
        <div class="postcard">
            <img src="product6.jpg" alt="Grey_Box" />
            <div class="text-area">
                <h3>Curvz Founded</h3>
                <span class="fake-price">$244</span>
                <span class="real-price">$140</span>
            </div>
        </div>
        <div class="postcard">
            <img src="product6.jpg" alt="Grey_Box" />
            <div class="text-area">
                <h3>Curvz Founded</h3>
                <span class="fake-price">$244</span>
                <span class="real-price">$140</span>
            </div>
        </div>
    </div>
    <div class="FlexBox">
        <div class="postcard">
            <img src="product6.jpg" alt="Grey_Box" />
            <div class="text-area">
                <h3>Curvz Founded</h3>
                <span class="fake-price">$244</span>
                <span class="real-price">$140</span>
            </div>
        </div>
        <div class="postcard">
            <img src="product6.jpg" alt="Grey_Box" />
            <div class="text-area">
                <h3>Curvz Founded</h3>
                <span class="fake-price">$244</span>
                <span class="real-price">$140</span>
            </div>
        </div>
        <div class="postcard">
            <img src="product6.jpg" alt="Grey_Box" />
            <div class="text-area">
                <h3>Curvz Founded</h3>
                <span class="fake-price">$244</span>
                <span class="real-price">$140</span>
            </div>
        </div>
    </div>
    <div class="FlexBox">
        <div class="postcard">
            <img src="product6.jpg" alt="Grey_Box" />
            <div class="text-area">
                <h3>Curvz Founded</h3>
                <span class="fake-price">$244</span>
                <span class="real-price">$140</span>
            </div>
        </div>
        <div class="postcard">
            <img src="product6.jpg" alt="Grey_Box" />
            <div class="text-area">
                <h3>Curvz Founded</h3>
                <span class="fake-price">$244</span>
                <span class="real-price">$140</span>
            </div>
        </div>
        <div class="postcard">
            <img src="product6.jpg" alt="Grey_Box" />
            <div class="text-area">
                <h3>Curvz Founded</h3>
                <span class="fake-price">$244</span>
                <span class="real-price">$140</span>
            </div>
        </div>
    </div>
    <div class="FlexBox">
        <div class="postcard">
            <img src="product6.jpg" alt="Grey_Box" />
            <div class="text-area">
                <h3>Curvz Founded</h3>
                <span class="fake-price">$244</span>
                <span class="real-price">$140</span>
            </div>
        </div>
        <div class="postcard">
            <img src="product6.jpg" alt="Grey_Box" />
            <div class="text-area">
                <h3>Curvz Founded</h3>
                <span class="fake-price">$244</span>
                <span class="real-price">$140</span>
            </div>
        </div>
        <div class="postcard">
            <img src="product6.jpg" alt="Grey_Box" />
            <div class="text-area">
                <h3>Curvz Founded</h3>
                <span class="fake-price">$244</span>
                <span class="real-price">$140</span>
            </div>
        </div>
    </div>
</div>

<!-- Our Products Ends -->


<!--the style video box begins-->
<div class="outerbox">

    <!-- area for the aside text section -->
    <div class="asidetext">
        <!-- the heading, followed by the paragraph -->
        <h1>STEP INTO THE WORLD OF STYLE</h1>
        <p>LOREM IPSUM DOLAR SIT AMIT, CONSECTETUR
            ADRESS ING ALET. QUISQ POLYSYONARA PORTA
            LUCTUS. EMINEM GUAVA MI AC MOLOTOVE.</p>
        <p> LOREM IPSUM DOLAR SIT AMIT, CONSECTETUR
            ADRESS ING ALET. QUISQ POLYSYONARA PORTA
            LUCTUS. EMINEM GUAVA MI AC MOLOTOVE.</p>
        <p> LOREM IPSUM DOLAR SIT AMIT, CONSECTETUR
            ADRESS ING ALET. QUISQ POLYSYONARA PORTA
            LUCTUS. EMINEM GUAVA MI AC MOLOTOVE.
        </p>
        <!-- button saying "SHOP NOW" -->
        <button type="button">SHOP NOW</button>
    </div>

    <!-- the video of a women browsing throught the outfits at a store -->
    <div class="video">
        <video id="vd" height="100%" width="100%" autoplay loop muted>
            <source src="../assets/videos/clothes rack.mp4" type="video/mp4">
            Your browser does not support mp4.
        </video>
    </div>
</div>
<!-- script to autoplay the video -->
<script>
    document.getElementById('vd').play();
</script>
<!--the style video box ends-->


<!-- Content of Collection Starts -->

<div class="newcollection">
    <div class="container">
        <h1>New Collection</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
            ipsum quam numquam! Quod, nemo aliquam.
        </p>

        <!-- Three Square Boxes -->
        <div class="row">
            <div class="coll-col">
                <img src="../assets/images/Shirts.jpg" alt="shirts" />
                <div class="outerbox">
                    <!--FIRST BOX   -->
                    <h3>SHIRTS</h3>
                </div>
            </div>
            <div class="coll-col">
                <img src="../assets/images/lehengas.jpg" alt="shirts" />
                <div class="outerbox">
                    <!--SECOND BOX   -->
                    <h3>TROUSERS</h3>
                </div>
            </div>
            <div class="coll-col">
                <img src="../assets/images/sweters.jpg" alt="shirts" />
                <div class="outerbox">
                    <!--THIRD BOX   -->
                    <h3>T-SHIRTS</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="dottedcollection"></div>
</div>

<!-- Content of Collection Ends -->