<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="..\assets\css\sign_up.css">
</head>

<body>
    <div class="signup-modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <div id="container">
            <section class="box-marker">
                <div>
                    <div class="box-title">
                        Sign Up
                    </div>
                    <div class="box-contents">
                        <div id="signup">
                            <div class="box">
                                <input type="text" name="name" class="input" id="name" placeholder="Name">
                            </div>
                            <div class="box">
                                <input type="email" name="email" class="input" id="email" placeholder="E-Mail">
                            </div>
                            <div class="box">
                                <input type="password" class="input" name="password" id="password" placeholder="Password">
                            </div>
                            <div class="policy">
                                By continuing, I agree to the
                                <span class="terms_policy">
                                    <a href="#">Terms of Use</a>
                                </span>
                                &
                                <span class="terms_policy">
                                    <a href="#">Privacy Policy</a>
                                </span>
                            </div>
                            <div class="submit">
                                <button type="submit" class="signup_submit">SIGN UP</button>
                            </div>
                            <div class="modal-footer">
                                <span>Already have an Account,
                                    <a href="#" data-dismiss="modal" data-toggle="modal"
                                        data-target="#">Login</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html> -->