<!-- Description : Development of odd assigned parts of the event
Author: Rajsekhor Saikia
Contributors: Abhishek Kumar Jha
              Rohan Shrivastava
              Rajsekhor Saikia
            -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- External Links -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://fonts.google.com/specimen/Staatliches?query=Staatliches"
    />
    <link
      rel="stylesheet"
      href="https://fonts.google.com/specimen/Poppins?query=Poppins"
    />

    <link rel="stylesheet" href="..\assets\css\_navbar-style.css" />
    <link rel="stylesheet" href="../assets/css/home-view-style.css" />

    <title>Curvz</title>
  </head>

  <body>
    <!-- Section 1 -->
    <header class="header-part-1">
      <!-- Navbar -->
      <nav class="navbar">
        <!-- Icon of Curvz and Link to Homepage -->
        <div class="navbar-part-1">
          <a class="navbar-icon" href="index.html">
            <img
              class="navbar-icon-image"
              src="..\assets\images\cc.png"
              alt="icon"
            />
          </a>
        </div>

        <div class="navbar-part-2">
          <a class="navbar-links" href="#"> MEN </a>
          <a class="navbar-links" href="#"> WOMEN </a>
          <a class="navbar-links" href="#"> KIDS </a>
          <a class="navbar-links" href="#"> FANCY </a>
          <a class="navbar-links" href="#"> COLLECTION </a>
        </div>

        <div class="navbar-part-3">
          <a class="navbar-login" href="#"> LOGIN </a>
        </div>
      </nav>
    </header>

    <div class="home-view">
      <!-- All contents of the home view except circle -->

      <div class="section-1">
        <div class="section-1-1">
          <!-- One collection of dots, texts and shop now link -->

          <div class="dotted-collection"></div>

          <div class="home-view-best-style">
            <h1>FIND THE BEST STYLE FOR YOU</h1>
          </div>

          <div class="home-view-best-style-details">
            <p>
              LOREM IPSUM DOLAR SIT AMIT, CONSECTETUR ADRESS ING ALET. QUISQ
              POLYSYONARA PORTA LUCTUS. EMINEM GUAVA MI AC MOLOTOVE.
            </p>
          </div>

          <div class="home-view-button">
            <a class="home-view-shop-now" href="#">SHOP NOW</a>
          </div>
        </div>

        <!-- Square shape and two collection of dots -->

        <div class="section-1-2">
          <div class="home-view-shape-1">
            <div class="section-1-2-1">
              <div class="dotted-collection"></div>
            </div>
            <div class="section-1-2-2">
              <div class="dotted-collection"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Circle -->

      <div class="section-2-1">
        <div class="home-view-shape-2"></div>
      </div>
    </div>

    <!-- Content of New Collection -->

    <div class="newcollection">
      <div class="container">
        <h1>New Collection</h1>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
          ipsum quam numquam! Quod, nemo aliquam.
        </p>

        <!-- Three Square Boxes -->
        <div class="row">
          <div class="coll-col">
            <img src="../assets/images/Shirts.jpg" alt="shirts" />
            <div class="outerbox">
              <!--FIRST BOX   -->
              <h3>SHIRTS</h3>
            </div>
          </div>
          <div class="coll-col">
            <img src="../assets/images/lehengas.jpg" alt="shirts" />
            <div class="outerbox">
              <!--SECOND BOX   -->
              <h3>LEHENGAS</h3>
            </div>
          </div>
          <div class="coll-col">
            <img src="../assets/images/sweters.jpg" alt="shirts" />
            <div class="outerbox">
              <!--THIRD BOX   -->
              <h3>SWEATERS</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="dottedcollection"></div>
    </div>

    <!-- for best design available -->

    <div class="bestdesignavailable">
      <div class="bestdesign-wrap">
        <!-- container divided into two components -left and right -->

        <!-- left component -->
        <div class="bestdesign-left"></div>

        <div class="dot-holder">
          <div class="dotted-collection"></div>
        </div>

        <!-- right componenent-->

        <div class="bestdesign-right">
          <div class="bestdesign-content">
            <div class="bestdesign-right-content-t">
              <h2>BEST DESIGNS AVAILABE</h2>
            </div>
            <div class="bestdesign-right-content-d">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit,
                aperiam suscipit. Distinctio tempora excepturi ut corrupti
                explicabo nemo atque, libero nobis beatae totam voluptatibus
                ratione. Eligendi laudantium optio at nesciunt!
              </p>
            </div>
          </div>
        </div>
        <div class="bd-bottom-left"></div>

        <!-- information about CURVZ -->

        <div class="bd-info">
          <div class="bd-info-d">
            <h4 class="one">2022</h4>
            <p>Curvz Founded</p>
          </div>
          <div class="bd-info-d">
            <h4 class="two">8600+</h4>
            <p>Products Sold</p>
          </div>
          <div class="bd-info-d">
            <h4 class="three">3105</h4>
            <p>Best Reviews</p>
          </div>
        </div>
      </div>
    </div>
    <!-- best design section ends -->
  </body>
</html>
