<!--the style video box begins-->
<div class="outerbox">

    <!-- area for the aside text section -->
    <div class="asidetext">
        <!-- the heading, followed by the paragraph -->
        <h1>STEP INTO THE WORLD OF STYLE</h1>
        <p>LOREM IPSUM DOLAR SIT AMIT, CONSECTETUR
            ADRESS ING ALET. QUISQ POLYSYONARA PORTA
            LUCTUS. EMINEM GUAVA MI AC MOLOTOVE.</p>
        <p> LOREM IPSUM DOLAR SIT AMIT, CONSECTETUR
            ADRESS ING ALET. QUISQ POLYSYONARA PORTA
            LUCTUS. EMINEM GUAVA MI AC MOLOTOVE.</p>
        <p> LOREM IPSUM DOLAR SIT AMIT, CONSECTETUR
            ADRESS ING ALET. QUISQ POLYSYONARA PORTA
            LUCTUS. EMINEM GUAVA MI AC MOLOTOVE.
        </p>
        <!-- button saying "SHOP NOW" -->
        <button type="button">SHOP NOW</button>
    </div>

    <!-- the video of a women browsing throught the outfits at a store -->
    <div class="video">
        <video id="vd" height="100%" width="100%" autoplay loop muted>
            <source src="/videos/clothes-rack.mp4" type="video/mp4">
            Your browser does not support mp4.
        </video>
    </div>
</div>
<!-- script to autoplay the video -->
<script>
    document.getElementById('vd').play();
</script>
<!--the style video box ends-->