<!-- for best design available -->

<div class="bestdesignavailable">
    <div class="bestdesign-wrap">
        <!-- container divided into two components -left and right -->

        <!-- left component -->
        <div class="bestdesign-left"></div>

        <div class="dot-holder">
            <div class="dotted-collection"></div>
        </div>

        <!-- right componenent-->

        <div class="bestdesign-right">
            <div class="bestdesign-content">
                <div class="bestdesign-right-content-t">
                    <h2>BEST DESIGNS AVAILABLE</h2>
                </div>
                <div class="bestdesign-right-content-d">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit,
                        aperiam suscipit. Distinctio tempora excepturi ut corrupti
                        explicabo nemo atque, libero nobis beatae totam voluptatibus
                        ratione. Eligendi laudantium optio at nesciunt!
                    </p>
                </div>
            </div>
        </div>
        <div class="bd-bottom-left"></div>

        <!-- information about CURVZ -->

        <div class="bd-info">
            <div class="bd-info-d">
                <h4 class="one">2022</h4>
                <p>Curvz Founded</p>
            </div>
            <div class="bd-info-d">
                <h4 class="two">8600+</h4>
                <p>Products Sold</p>
            </div>
            <div class="bd-info-d">
                <h4 class="three">3105</h4>
                <p>Best Reviews</p>
            </div>
        </div>
    </div>
</div>
<!-- best design section ends -->