<!-- for best seller section -->
<div class="best-seller-section">
    <div class="section-body">
        <div class="section-header">BEST SELLING PRODUCT</div>
        <div class="section-description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, r Lorem
            ipsum dolor, sit amet consectetur adipisicing elit. Vero, earum
            accusamus. Harum unde nostrum veniam ex atque dolore eum repellendus.
        </div>
        <div class="section-description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, rem quia
            repellat nesciunt molestiae, aliqui
        </div>
        <div class="section-description">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, rem quia
            repellat nesciunt molestiae, aliquid suscipit laudantium
        </div>
        <div class="section-call-to-action">
            <a href="">SEE MORE</a>
        </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="6000">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="card">
                    <img src="/images/des1.jpg" class="card-img-top" alt="first slide" />
                    <div class="card-body">
                        <div><strong>Curvz Founded</strong></div>
                        <div><del>$1200</del> <strong>$750</strong></div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <img src="/images/des2.jpg" class="card-img-top" alt="second slide" />
                    <div class="card-body">
                        <div><strong>Curvz Founded</strong></div>
                        <div><del>$1200</del> <strong>$750 </strong></div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="card">
                    <img src="/images/des3.jpg" class="card-img-top" alt="second slide" />
                    <div class="card-body">
                        <div><strong>Curvz Founded</strong></div>
                        <div><del>$1200</del> <strong>$750</strong></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- best seller section ends -->