<!-- Deals of the day starts -->

<div class="dealsDay">
    <div class="deals-container">
        <!-- left side -->
        <div class="left-box">
            <h1>DEAL OF THE DAY</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae,
                natus aliquam eos voluptas architecto harum.
            </p>
            <div class="image-container">
                <div class="box">
                    <h1 class="container-hour">06</h1>
                    <p class="hours">Hours</p>
                </div>
                <div class="box">
                    <h1 class="container-minute">12</h1>
                    <p>Minutes</p>
                </div>
                <div class="box">
                    <h1 class="container-second">19</h1>
                    <p>Seconds</p>
                </div>
            </div>
            <button>SHOP NOW</button>
        </div>

        <!-- right side image -->
        <div class="right-box">
            <img class="big-image" src="/images/deal.jpg" alt="" />
        </div>
    </div>
</div>

<!-- Deals of the day ends -->