<div class="home-view">
    <!-- All contents of the home view except circle -->
  
    <div class="section-1">
      <div class="section-1-1">
        <!-- One collection of dots, texts and shop now link -->
  
        <div class="dotted-collection"></div>
  
        <div class="home-view-best-style">
          <h1>FIND THE BEST STYLE FOR YOU</h1>
        </div>
  
        <div class="home-view-best-style-details">
          <p>
            LOREM IPSUM DOLAR SIT AMIT, CONSECTETUR ADRESS ING ALET. QUISQ
            POLYSYONARA PORTA LUCTUS. EMINEM GUAVA MI AC MOLOTOVE.
          </p>
        </div>
  
        <div class="home-view-button">
          <a class="home-view-shop-now" href="#">SHOP NOW</a>
        </div>
      </div>
  
      <!-- Square shape and two collection of dots -->
  
      <div class="section-1-2">
        <div class="home-view-shape-1">
          <div class="section-1-2-1">
            <div class="dotted-collection"></div>
          </div>
          <div class="section-1-2-2">
            <div class="dotted-collection"></div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Circle -->
  
    <div class="section-2-1">
      <div class="home-view-shape-2"></div>
    </div>
  </div>