<!-- Content of New Collection -->

<div class="newcollection">
    <div class="container">
      <h1>New Collection</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate
        ipsum quam numquam! Quod, nemo aliquam.
      </p>
  
      <!-- Three Square Boxes -->
      <div class="row">
        <div class="coll-col">
          <img src="/images/Shirts.jpg" alt="shirts" />
          <div class="outerbox">
            <!--FIRST BOX   -->
            <h3>SHIRTS</h3>
          </div>
        </div>
        <div class="coll-col">
          <img src="/images/lehengas.jpg" alt="shirts" />
          <div class="outerbox">
            <!--SECOND BOX   -->
            <h3>LEHENGAS</h3>
          </div>
        </div>
        <div class="coll-col">
          <img src="/images/sweters.jpg" alt="shirts" />
          <div class="outerbox">
            <!--THIRD BOX   -->
            <h3>SWEATERS</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="dottedcollection"></div>
  </div>