body{
    margin: 0;
    padding: 0;
}
.footer-part-1{
    height: 35vh;
    background-color: grey;
    display: flex;
    justify-content: center;
}
.footer-images-1{
    /* border-style: dashed; */
    /* border-color: black; */
    /* border-width: 5px; */
    width: 20vw;
}
.footer-images-2{
    height: 35vh;
    width: 20vw;
}
.footer-part-2{
    height: 40vh;
    background-color: #692e00;
    text-align: center;
}
.footer-part-2 nav{
    display: flex;
    justify-content: space-between;
    width: 40vw;
    position: relative;
    left: 30vw;
    right: 30vw;
}
.navbar-links{
    text-decoration: none;
    color: white;
}