@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
    margin: 0px;
    padding: 0;
    /* overflow-x: hidden; */
}

/* Forms the base of navbar */

.header-part-1 {
    min-height: 15vh;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

/* Base of the navbar */

.navbar {
    /* width: 100vw; */

    /* display is flex and related properties */

    display: flex;
    justify-content: space-between;
    content: none;
    text-align: center;
    align-items: center;

    /* Position is fixed */

    position: fixed;
    z-index: 100;
    background-color: whitesmoke;

}

/* Deals with the logo  */

.navbar-part-1 {

    /* Margin and padding of logo */

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 45px;
    margin-right: 45px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set logo to correct size */

.navbar-icon-image {
    height: 25px;
    width: auto;
}




/* Deals with the links in the middle part of the navbar */

.navbar-part-2 {

    /* Margin and padding of the set of links */
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}

.navbar-links {

    /* Sets how the texts of the links are to be displayed */

    text-decoration: none;
    font-family: 'Syne', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #000000;
    position: relative;
    display: block;

    /* Margin and padding of individual links */
    margin: 20px 20px;
    padding: 10px 20px;

    /* Part of animation */
    transition: .5s;
    z-index: 1;


}

.navbar-links::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* border-top: 2px solid black; */
    border-bottom: 2px solid black;
    transform: scaleY(2);
    opacity: 0;
    transition: .4s;
}

/* Link animation section */

.navbar-links::after {
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.3s;  
}

.navbar-links:hover {
    color: black;
    text-decoration: none;
}

.navbar-links:hover::before {
    transform: scaleY(1);
    opacity: 1;
}

.navbar-links:hover::after {
    transform: scaleY(1);
    opacity: 1;
}


/* Deals with the login part of the navbar */

.navbar-login {

    /* Sets how login is supposed to be displayed */

    text-decoration: none;
    color: black;
    border: 1.5px solid black;
    font-family: 'Syne', sans-serif;
    font-size: 12px;
    font-weight: 600;

    /* Margin and padding of login button */

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 45px;
    margin-right: 75px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

}

/* Effects when user hovers over login */

.navbar-login:hover {
    color: white;
    transition-delay: .1s;
    background-color: black;
    text-decoration: none;
}

