@import "https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Staatliches&display=swap";
* {
  margin: 0px;
  padding: 0; }

/* Forms the base of navbar */
.header-part-1 {
  min-height: 15vh;
  width: 100%; }

/* Base of the navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  content: none;
  text-align: center;
  align-items: center;
  position: fixed;
  z-index: 100;
  background-color: #5a1413; }

/* Deals with the logo  */
.navbar-part-1 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 45px;
  margin-right: 45px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px; }

/* Set logo to correct size */
.navbar-icon-image {
  height: 25px;
  width: auto; }

/* Deals with the links in the middle part of the navbar */
.navbar-part-2 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex; }

.navbar-links {
  text-decoration: none;
  font-family: "Syne", sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #c6b79b;
  position: relative;
  display: block;
  margin: 20px 20px;
  padding: 10px 20px;
  transition: 0.5s;
  z-index: 1;
  /* Link animation section */ }
  .navbar-links::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #c6b79b;
    border-bottom: 2px solid #c6b79b;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.4s; }
  .navbar-links::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    height: 100%;
    background-color: #ffffff;
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1; }
  .navbar-links:hover {
    color: white;
    text-decoration: none; }
    .navbar-links:hover::before {
      transform: scaleY(1);
      opacity: 1; }
    .navbar-links:hover::after {
      transform: scaleY(1);
      opacity: 1; }

/* Deals with the login part of the navbar */
.navbar-login {
  text-decoration: none;
  color: #c6b79b;
  border: 1.5px solid #c6b79b;
  font-family: "Syne", sans-serif;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
  margin-right: 45px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* Effects when user hovers over login */ }
  .navbar-login:hover {
    color: white;
    transition-delay: 0.1s;
    border-color: #ffffff;
    text-decoration: none; }

.search {
  border: none;
  height: 21px;
  width: 150px;
  padding: 0px 5px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 500; }

.search-icon {
  width: auto;
  height: 25px;
  color: #c6b79b;
  cursor: pointer; }

.navbar-part-3 {
  display: flex;
  margin-right: 45px; }

.boxContainer {
  margin: auto;
  position: relative;
  width: 150px;
  height: 21px;
  border: 2px solid #692e00;
  padding: 0px 10px;
  border-radius: 50px; }

.elementContainer {
  width: 100%;
  height: 100%;
  vertical-align: middle; }

.navbar-3 {
  margin: 0px 20px;
  margin-right: auto;
  height: 25px;
  color: #c6b79b;
  cursor: pointer; }

#search-bar-div {
  display: none;
  width: 200px;
  height: 25px;
  background-color: rgba(255, 255, 255, 0); }

#search-bar-div button {
  background-color: #ffffff00;
  outline: none;
  border: 0px; }

.navbar-part-3 {
  align-items: center; }

.elementContainer button {
  background-color: #ffffff00;
  outline: none;
  border: 0px; }

<<<<<<< HEAD
.search-bar-input {
  width: 180px !important; }
=======
.search-bar-input {
  width: 180px !important; }

.search-field {
  display: flex;
  justify-content: left;
  vertical-align: middle;
  border-radius: 15px; }

.search-btth {
  display: inline; }

#search-bar-div {
  display: none;
  width: 200px;
  height: 25px;
  padding: 0 1dvh;
  border-radius: 15px;
  background-color: #ffffff;
  justify-content: left;
  flex-direction: column; }

.search-results {
  display: none; }

.search-bar-input {
  all: unset;
  width: 250px !important;
  border: none;
  text-align: left; }

.result-list {
  background-color: #ffffff;
  list-style-type: none;
  margin: 0;
  padding: 0; }

.result-item {
  display: flex;
  justify-content: center;
  padding: 1dvh; }

.result-item:hover {
  background-color: #f2f2f2; }
>>>>>>> 8d77f328fbf80c5da9f73e5463d47f48dd522fd2

#toggle {
  position: relative;
  padding-right: 50px; }
  #toggle ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 0;
    display: none; }
    #toggle ul li {
      list-style: none;
      padding: 8px 16px; }
      #toggle ul li a {
        color: #333;
        text-decoration: none; }
  #toggle:hover ul {
    display: block; }
