@import "https://fonts.googleapis.com/css2?family=Staatliches&display=swap";
@import "https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap";
@import "https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap";

#part-2-3{
    color: white;
    font-size: 17.5px;
    text-align: center;
    margin: 10px auto 5px auto;
}

.part-1{
    height: auto;
    min-height: 100vh;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

.input{
    width:30vw;
}

#tnc{
    color: #888;
    font-size:14px;
    display: block;
    padding-left: 20px;

    width:30vw;
    text-align: justify;
}
input[type="checkbox"] {
    margin-left: -20px;
}

.tc-links{
    color: rgb(105, 138, 255);
}

.row .logo-head{
    display: inline-block;
    width: 50%;
    padding: 1.25rem 2.5rem;
    font-weight: 900;
    font-size: 1.1rem;
    font-family: "Syne", sans-serif;
}