.newcollection {
    text-align: center;
    text-transform: uppercase;
}

.newcollection h1 {
    font-family: 'Lato';
    font-size: 48px;
    padding: 35px 0px;
}

.newcollection p {
    font-family: 'Syne';
    font-size: 14px;
    padding: 0px 420px;
}

.container {
    margin: 10px 280px;
}

.outerbox {
    border: solid 2px rgb(200, 200, 200);
    display: inline-block;
    padding: 110px 97px;
    margin: 50px 2px;
    background-color: rgb(200, 200, 200);
    z-index: 1;
}

.outerbox a {
    background-color: white;
    border: solid 2px white;
    padding: 5px 60px;
    margin: 0px -85px;
    position: relative;
    top: 100px;
    /* left: 5px; */
    font-family: 'Syne';
    text-decoration: none;
    color: black;
}

.dottedcollection {
    height: 114px;
    width: 114px;
    background-image: -webkit-repeating-radial-gradient(center center, rgb(127, 118, 118), rgb(127, 118, 118) 1.5px, transparent 1.5px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgb(127, 118, 118), rgb(127, 118, 118) 1.5px, transparent 1.5px, transparent 100%);
    background-size: 19px 19px;
    position: relative;
    bottom: 110px;
    left: 600px;
    z-index: -1;
}