@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    text-align: center;
    font-family: 'Syne', sans-serif;
}

h1 {
    padding: 0;
    font-size: 4rem;
    text-transform: uppercase;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
}

img {
    width: 400px;
    height: 350px;
    margin: 0;
    padding: 0;
}

.button{
    margin: 0 1.5% 1% 1.5%;
    padding: 0 27px 0 27px;
    color: grey;

}

.button:hover{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    color: black;
    cursor: pointer;
}

.Product_List{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.FlexBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 2rem;
}

.postcard {
    padding: 1%;
    text-align: left;
    box-shadow: -5px 5px 5px lightgrey;
    margin: 5px;
    padding: 0;
}

.text-area {
    margin: 40px 25px;
    font-family: 'Ubuntu';
}

h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.fake-price {
    /* font-family: 'Ubuntu'; */
    text-decoration: line-through;
    color: grey;
}
.real-price{
    /* font-family: 'Ubuntu'; */
    font-weight: bold;
}