@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

* {
    margin: 0;
    padding: 0;
}

.main-view {
    height: 100vh;
    width: 100%;
    background-color: #5A1413;
    display: flex;
    justify-content: flex-start;
    overflow-y: hidden;
}

.section-1 {
    display: flex;
    justify-content: space-around;
}

.section-1-1 {
    width: 50%;
    margin: 150px 0px 25px 100px;
    padding-right: 150px;
}

.section-1-1 video {
    padding-left: 20px;
}

.section-1-2 {
    position: relative;
    right: 80px;
    top: 215px;
}

.section-1-2 h1 {
    font-size: 60px;
    color: #C6B79B;
    font-family: 'Syne', sans-serif;
    font-weight: 400;
}

.section-1-2 p {
    font-family: "Syne", sans-serif;
    font-size: 17px;
    color: #C6B79B;
    padding: 10px 100px 55px 0px;
}

.home-view-shop-now {
    text-decoration: none;
    /* color: rgb(255, 212, 168); */
    color: #C6B79B;
    width: 125px;
    padding: 15px 35px 15px 35px;
    border: 1.5px solid #C6B79B;
    font-family: "Syne";
    font-weight: 700;
    font-size: 15px;
    background: transparent;
    /* background-color: #692e00; */
    /* box-shadow: 0 0 1px 1px, 0 0 1px 1px; */
    /* transition: all 150ms ease-in-out; */
}

.home-view-shop-now:hover {
    color: rgb(255, 255, 255);
    /* color: #692e00; */
    /* background: transparent; */
    background-color: transparent;
    border-color: #ffffff;
    /* box-shadow: 0 0 10px 0; */
    text-decoration: none;
}

.dotted-collection {
    height: 114px;
    width: 114px;
    background-image: -webkit-repeating-radial-gradient(center center,
            #C6B79B,
            #C6B79B 1.5px,
            transparent 1.5px,
            transparent 100%);
    background-image: repeating-radial-gradient(center center,
            #C6B79B,
            #C6B79B 1.5px,
            transparent 1.5px,
            transparent 100%);
    background-size: 19px 19px;
}

.section-1 .dotted-collection {
    position: relative;
    bottom: 10px;
    top: 500px;
}

/* Our Products Start */

.ourProducts {
    text-align: center;
    font-family: 'Syne', sans-serif;
    padding-top: 90px;
    padding-bottom: 90px;
}

.ourProducts h1 {
    padding-bottom: 40px;
    font-size: 75px;
    text-transform: uppercase;
    font-family: 'Syne', sans-serif;
    font-weight: 700;
}

.ourProducts img {
    width: 300px;
    height: 350px;
    margin: 0;
    padding: 0;
}

.button {
    margin: 0 1.5% 1% 1.5%;
    padding: 0 27px 0 27px;
    color: grey;
    padding-bottom: 40px;

}

.button:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    color: black;
    cursor: pointer;
}

.Product_List {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.FlexBox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 4rem;
}

.postcard {
    padding: 12px;
    text-align: left;
    /* box-shadow: -5px 5px 5px rgb(220, 220, 220); */
    margin: 5px;
    padding: 0;
    background-color: #ffffff;
    transition: transform 0.7s;
    border: 2px solid rgba(0, 0, 0, 0.16);
    border-radius: 0 0 1% 1%;
}

.postcard:hover {
    transform: scale(0.9);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.13);
}

.text-area {
    margin: 40px 25px;
    font-family: 'Ubuntu';
}

h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.fake-price {
    /* font-family: 'Ubuntu'; */
    text-decoration: line-through;
    color: grey;
}

.real-price {
    /* font-family: 'Ubuntu'; */
    font-weight: bold;
}

/* Our Products Ends */

/* Collection Styling Starts */

.newcollection {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color: whitesmoke;
}

.newcollection h1 {
    font-family: "Syne", sans-serif;
    font-size: 75px;
    text-transform: uppercase;
}

.newcollection p {
    font-family: "Syne", sans-serif;
    font-size: 14px;
    padding: 20px 420px 100px 420px;
    text-transform: uppercase;
}

.row {
    display: flex;
    justify-content: space-between;
}

.coll-col {
    flex-basis: 32%;
    margin-bottom: 0px;
    position: relative;
    overflow: hidden;
}

.coll-col img {
    object-fit: fill;
    width: 100%;
    height: 530px;
    display: block;
}

.outerbox {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
    cursor: pointer;
}

.outerbox h3 {
    font-family: "Syne", sans-serif;
    border: 1.5px solid rgb(0, 0, 0);
    padding: 15px 35px 15px 35px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 700;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.coll-col:hover img {
    opacity: 0.5;
}

.outerbox:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.outerbox h3:hover {
    cursor: pointer;
    background-color: #5A1413;
    color: rgb(255, 212, 168);
    border-color: #5A1413;
}

.dottedcollection {
    height: 114px;
    width: 114px;
    background-image: -webkit-repeating-radial-gradient(center center,
            rgb(127, 118, 118),
            rgb(127, 118, 118) 1.5px,
            transparent 1.5px,
            transparent 100%);
    background-image: repeating-radial-gradient(center center,
            rgb(127, 118, 118),
            rgb(127, 118, 118) 1.5px,
            transparent 1.5px,
            transparent 100%);
    background-size: 19px 19px;
    position: relative;
    bottom: 110px;
    left: 600px;
    z-index: -1;
}

/* Collection Styling Ends */