<form action="/shop/addProduct" method="post" style="margin: 200px 0;">
    <label for="productName">Product Name</label>
    <input name="productName" type="text" id="productName" />
    <label for="category">Category</label>
    <input name="category" type="text" id="category" />
    <label for="MRP">MRP</label>
    <input name="MRP" type="number" id="MRP" />
    <label for="price">Price</label>
    <input name="price" type="number" id="price" />
    <label for="tags">Tags</label>
    <input name="tags" type="text" id="tags" />
    <label for="detailId">Detail Id</label>
    <input type="text" name="detailid" id="detailId" value="64af9283bfc4899fbb497f2c"/>
    <button type="submit">Submit</button>
</form>